@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@700&family=Libre+Baskerville&family=Lobster&family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@700&family=Hanken+Grotesk:wght@300&family=Libre+Baskerville&family=Lobster&family=Noto+Sans+JP&display=swap');

body{

    font-size: 16px;
    font-family:  'Caveat', cursive;;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}

.text-end{

    display: flex;
    gap: 10px;
}

.text-end button{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

span h2{
    color:rgb(0, 255, 221);
    font-family: 'Caveat', cursive;
    font-size: 2em;
    margin-right: 30px;
      
}

.conteiner .singapura1{

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 2fr;
    
}

.singapura1 .singapura2{

    grid-column-start: 2;
    grid-column-end: 3;
}

.singapura2 img{

    
    border-radius: 8px;
    

}

.singapura2 h1{

    font-size: 4rem;
}

.singapura2 footer{
    font-family:Arial;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.singapura2 p{
    margin-top: 50px;
    font-family: 'Caveat', cursive;
    font-size: 3em;
    line-height: 50px;
    text-align: justify;



}

#footeru{

    grid-column-start: -4;

    grid-column-end: -1;

}

@media (min-width: 1019px){
    #footeru2 {
    padding-right: 20px;
    padding-left: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:-1

    }

}

@media (max-width: 1018px){
    #footeru2 {
    display: none;

    }

}





    
    

 
 







